/*
 * (c)2005 Ross Bamford.
 *
 * rosco at roscopeco dot co dot uk
 */
body {
	background: #ffffff;
  /* background-image: url(../images/notebook-bg-blue.png); */
  background-image: url(../images/doodle2.png);
  background-repeat: no-repeat;
	color: #000000;

	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	margin: 40px 40px 40px 40px;

  font-family: 'LucidaGrande', 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif'; 
  font-size: 12px; 
  font-size: 9pt;
  font-size: 0.8em;
  font-size: 0.9em;
  font-style: normal; 
  font-variant: normal;
  font-weight: normal; 
  letter-spacing: 0; 
  line-height: 1.4em;
  opacity: 1.00; 
  text-decoration: none; 
  text-transform: none;
}

ul li {
   list-style-type: square;
}
ul li ul li {
   list-style-type: circle;
}
ul li ul li ul li {
   list-style-type: disc;
}

/* * linky links *** */
a:link {
	color: #d00d1e;
	text-decoration: none;
}

a:hover {
	color: #d00d1e;
	text-decoration: underline;
}

a:active {
	color: #d00d1e;
	text-decoration: underline;
}

a:visited {
	color: #b02424;
	text-decoration: none;
}

a.nav:link {
	color: #cc3030;
	text-decoration: none;
	font-weight: bold;
	background: auto;
}

a.nav:hover {
	color: #df3b3b;
	text-decoration: underline;
	font-weight: bold;
	background: #c3c3c3;
}

a.nav:active {
	color: #df3b3b;
	text-decoration: underline;
	font-weight: bold;
	background: #c3c3c3;
}

a.nav:visited {
	color: #b02424;
	text-decoration: none;
	font-weight: bold;
	background: auto;
}

/* * outer layout ** */
table.topbar {
	/* outer div top bar on pages */
	background: #f5f5f5;
	color: #000000;
	width: 100%;
	border: white thin none;
}

tr.topnav {
	background: #ebebeb;
	text-align: center;
	padding: 5px;
}

td.toplogo {
	text-align: left;
}

td.toprpotlogo {
	text-align: right;
}

td.navicon {
	width: 22px;
}

img.navicon {
	border: white thin none;
	width: 22px;
	height: 22px;
}

div.frontcopyright {
	/* Copyright bit on front page */
	color: #909090;
	position: absolute;
	bottom: 2%;
	right: 2%;
	text-align: right;
	font-size: 8pt;
}

div.copyright {
	/* Copyright bit on pages */
	color: #909090;
	position: relative;	
	top: 5em;
	right: 2%;
	text-align: right;
	font-size: 8pt;	
}

div.main {
	/* main div on front page */
	width: 70%;
	margin: 50px 12% 50px 8%;
}

/* * layout imgs *** */

img.smallrpotlogo {
	width: 210px;
	height: 47px;
}

img.biglogo {
	width: 294px;
	height: 135px;
}

img.medlogo {
	width: 221px;
	height: 101px;
}

img.smalllogo {
	width: 147px;
	height: 68px;
}

/* * page styles *** */

h3 {
	border-bottom: thin #959595 solid;
}

h4 {
	border-bottom: thin #b8c8c8 solid;
}

h6 {
	border-bottom: thin #c0c0d8 solid;
}

div.note {
	background: #e8e8fa;
	border: thin solid #3e5972;
	position: relative;
	width: 90%;
	left: 5%;
	right: 5%;
	text-align: right;
	font-size: 10pt;	
	padding: 5px;
	margin-bottom: 5px;
}

/* * syntax ******** */
pre.ruby {
	background: #f5f5f5;
	border: thin solid #3e5972;
	padding: 1em;
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	overflow: auto;
  line-height: 1.4em;
}

pre.ruby span.normal {
	color: #000000;
}

pre.ruby span.comment {
	color: #789a86;
	text-decoration: oblique;
}

pre.ruby span.ident {
	color: #0b0202;
}

pre.ruby span.punct {
	color: #8a7070;
}

pre.ruby span.symbol {
	color: #aa1010;
	font-weight: bold;
}

pre.ruby span.keyword {
	color: #903030;
	font-weight: bold;
}

pre.ruby span.constant {
	color: #3e5972;
	font-weight: bold;
}

pre.ruby span.string {
	color: #2020f0;	
}

pre.ruby span.char {
	color: #2020f0;	
	font-weight: bold;
}

pre.ruby span.number {
	color: #aa1010;	
}

pre.ruby span.regex {
	color: #552090;	
}

pre.ruby span.expr {
	color: #101080;
	font-weight: bold;
}

pre.ruby span.global {
	color: #557462;
}

pre.ruby span.class {
	color: #3e5972;
	font-weight: bold;
}

pre.ruby span.method {
	color: #aa1010;
}

pre.ruby span.attribute {
	color: #3e5972;
}

pre.ruby span.escape { 
	color: #2020f0;	
	font-weight: bold;
}

.logo {
  color: #d00d1e;
}

code {
 font-weight: bold;
}

pre code {
  font-weight: normal;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #d00d1e;
}
